
body{
 background-color:#0A0F1F;
 color:white;
 font-family:Arial, sans-serif;
 margin:0;
 text-align:center;
}
.header{
 padding:40px 10px;
}
.profile-pic{
 width:140px;
 border-radius:10px;
}
.name{font-size:28px; margin-top:10px;}
.title{font-size:18px; color:#54E0C7;}
.buttons a{
 margin:5px;
 display:inline-block;
 padding:10px 20px;
 background:#54E0C7;
 border-radius:6px;
 text-decoration:none;
 color:black;
}
.section-card{
 background:#121A33;
 margin:20px;
 padding:20px;
 border-radius:10px;
}
ul{list-style:none; padding:0;}
footer{ padding:20px; font-size:12px; color:#79A9C3;}
